<div class="modal-content">

    <h1>
        Search for the attraction you want to add!
    </h1>

    <div class="search-input-container">
        <mat-form-field>
            <mat-label>Attraction name</mat-label>
            <input matInput placeholder="Ex. Colosseo" [(ngModel)]="name">
        </mat-form-field>

        <button mat-raised-button color="accent" (click)="searchAttraction()">Cerca</button>
    </div>

    <div class="results-container">
        <ngx-spinner *ngIf="loading" bdColor="rgba(0, 0, 0, 0.8)" size ="medium" color ="#fff" type ="pacman" [fullScreen] = "false">
            <p style="color: white" > Loading... </p>
        </ngx-spinner>

        <div class="attraction-container" *ngFor="let attraction of attractions">
            <div class="image-container" fxShow="true" fxHide.lt-md="true">
                <app-image-with-loader
                    *ngIf="attraction.imageUrl !== null"
                    [image]="attraction.imageUrl + '?width=100px'"
                    [alt]="attraction.name">
                </app-image-with-loader>
            </div>

            <div class="info-container">
                <h3 class="attraction-title">
                    {{attraction.name}}
                </h3>
    
                <div class="tourist-attraction-time">
                    <mat-icon aria-hidden="false" aria-label="tempo visita attrazione">query_builder</mat-icon>
                    {{attraction.visitsDurationMinutes}} 
                </div>
            </div>

            <div class="button-container">
                <button mat-button color="primary" (click)="onAccept(attraction)">Add</button>
            </div>
        </div>
    </div>

    <mat-dialog-actions align="end">
        <button mat-button (click)="onDeny()">Cancel</button>
    </mat-dialog-actions>
</div>